nav ul{
    display: flex;
}
body{
    background-color: aqua;
}
nav li{
    list-style: none;
    margin: 10px;
    
    
}

nav li a {
    text-decoration: none;
    color: blue;
}
nav li a:hover{
    background-color: brown;
}

