.blog{
    background-color: rgb(148, 49, 49);
    text-align: justify;
    align-content: center;
    align-content: first baseline;
    margin: auto;
    padding: auto;
    border: 20px solid rgb(165, 55, 55);
    border-radius: 30px;
    margin: 20px 40px 70px 40px;
    padding: 20px;
    border: 20px solid rgb(165, 55, 55);


}
h1{
    color: white;
    text-align: center;
}
input{
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
h1
{
    color: white;
    text-align: center;
}
body{
    background-color: rgb(84, 15, 15);
}
button{
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
